name: "All Pull Request Tests"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint-tests:
    # Don't run on draft PRs
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    # Timeout after 10 minutes
    timeout-minutes: 10
    # Define a matrix of PHP/WordPress versions to test against
    strategy:
      fail-fast: false
      matrix:
        php: [8.4]
    # Cancel any existing runs of this workflow
    concurrency:
      group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}-P${{ matrix.php }}
      cancel-in-progress: true
    # Name the job in the matrix
    name: "Linting Tests PHP ${{ matrix.php }}"

    steps:
      - uses: actions/checkout@v5

      - name: Run General Tests
        # See https://github.com/alleyinteractive/action-test-general for more options
        uses: alleyinteractive/action-test-general@develop

      - name: Run PHP Tests
        # See https://github.com/alleyinteractive/action-test-php for more options
        uses: alleyinteractive/action-test-php@develop
        with:
          php-version: '${{ matrix.php }}'
          test-command: 'composer lint'
          skip-wordpress-install: 'true'

  unit-tests:
    # Don't run on draft PRs
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    # Timeout after 10 minutes
    timeout-minutes: 10
    # Define a matrix of PHP/WordPress versions to test against
    strategy:
      fail-fast: false # do not fail fast, let all the failing tests fail.
      matrix:
        php: [8.3, 8.4, 8.5]
        es_version: [8.11.1]
        multisite: [0]
        wp_version: ["latest"]
        es_adapter: ["searchpress", "vip-search"]
        include:
          - php: 8.3
            es_version: '8.11.1'
            multisite: 1
            wp_version: 'latest'
            es_adapter: 'searchpress'
          - php: 8.3
            es_version: '7.17.15'
            multisite: 1
            wp_version: 'latest'
            es_adapter: 'vip-search'
          - php: 8.4
            es_version: '7.17.15'
            multisite: 1
            wp_version: 'latest'
            es_adapter: 'searchpress'
    # Cancel any existing runs of this workflow
    concurrency:
      group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}-P${{ matrix.php }}-ES${{ matrix.es_version }}-A${{ matrix.es_adapter }}-MU${{ matrix.multisite }}
      cancel-in-progress: true
    # Name the job in the matrix
    name: "WP: ${{ matrix.wp_version }} - PHP: ${{ matrix.php }} - ES: ${{ matrix.es_version }} - Adapter: ${{ matrix.es_adapter || 'all' }} (MU: ${{ matrix.multisite }})"

    steps:
      - uses: actions/checkout@v5

      - name: Run General Tests
        # See https://github.com/alleyinteractive/action-test-general for more options
        uses: alleyinteractive/action-test-general@develop

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Set up Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: ${{ matrix.es_version }}
          security-enabled: false

      - name: Run PHP Tests
        # See https://github.com/alleyinteractive/action-test-php for more options
        uses: alleyinteractive/action-test-php@develop
        with:
          php-version: '${{ matrix.php }}'
          test-command: ${{ matrix.es_adapter == 'vip-search' && 'composer phpunit -- --testsuite=vip-search' || 'composer phpunit' }}
          skip-wordpress-install: 'true'

  # This required job ensures that all PR checks have passed before merging.
  all-pr-checks-passed:
    name: All PR checks passed
    needs:
      - lint-tests
      - unit-tests
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check job statuses
        run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" ]]; then
            echo "One or more jobs failed"
            exit 1
          elif [[ "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs were cancelled"
            exit 1
          else
            echo "All jobs passed or were skipped"
            exit 0
          fi
