name: Unit Tests

on: pull_request

jobs:
  tests:
    name: "WP: ${{ matrix.wp_version }} - PHP: ${{ matrix.php }} - ES: ${{ matrix.es_version }} - Adapter: ${{ matrix.es_adapter || 'all' }} (MU: ${{ matrix.multisite }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # do not fail fast, let all the failing tests fail.
      matrix:
        php: [8.3, 8.4, 8.5]
        es_version: [8.11.1]
        multisite: [0]
        wp_version: ["latest"]
        es_adapter: ["searchpress", "vip-search"]
        include:
          - php: 8.3
            es_version: '8.11.1'
            multisite: 1
            wp_version: 'latest'
            es_adapter: 'searchpress'
          - php: 8.3
            es_version: '7.17.15'
            multisite: 1
            wp_version: 'latest'
            es_adapter: 'vip-search'
          - php: 8.4
            es_version: '7.17.15'
            multisite: 1
            wp_version: 'latest'
            es_adapter: 'searchpress'
    env:
      WP_CORE_DIR: /tmp/wordpress
      WP_VERSION: ${{ matrix.wp_version }}
      WP_MULTISITE: ${{ matrix.multisite }}
      WP_DB_HOST: 127.0.0.1
      WP_DB_USER: root
      WP_DB_PASSWORD: '""'
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Cancel previous runs of this workflow (pull requests only)
        if: ${{ github.event_name == 'pull_request' }}
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Set up Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: ${{ matrix.es_version }}
          security-enabled: false

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd
          tools: composer:v2
          coverage: none

      - name: Set up WordPress
        run: |
          bash <(curl -s "https://raw.githubusercontent.com/alleyinteractive/mantle-ci/HEAD/install-wp-tests.sh") wordpress_unit_tests root '' 127.0.0.1 ${{ matrix.wp_version }} false true
          rm -rf "${WP_CORE_DIR}wp-content/plugins"
          mkdir -p "${WP_CORE_DIR}wp-content/plugins/elasticsearch-extensions"
          rsync -a --exclude=.git . "${WP_CORE_DIR}wp-content/plugins/elasticsearch-extensions"
          cd ${WP_CORE_DIR}wp-content/plugins/elasticsearch-extensions && composer install

      - name: Run all tests
        if: matrix.es_adapter == ''
        shell: bash
        run: |
          cd ${WP_CORE_DIR}wp-content/plugins/elasticsearch-extensions
          composer phpunit

      - name: Run VIP Search Adapter Tests
        if: matrix.es_adapter == 'vip-search'
        shell: bash
        run: |
          cd ${WP_CORE_DIR}wp-content/plugins/elasticsearch-extensions
          composer phpunit -- --testsuite=vip-search
